.hero,
.footer {
    background-color: #1f2937;
}

.hero {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}

.hero_secondary {
    font-size: 18px;
    color: #e5e7eb;

}

.header {
    font-size: 24px;
    color: #f9faf8;
}

.button,
.call_to_action {
    background-color: #3882f6;
}

.info {
    font-size: 36px;
    font-weight: bolder;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
}