* {
    font-family: Arial, Helvetica, sans-serif;
}

.hero,
.footer, 
.header {
    background-color: #1f2937;
    margin: 0;
    padding: 10px;
}

.hero {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}

.hero-secondary {
    font-size: 18px;
    color: #e5e7eb;
    font-weight: lighter;

}

.header {
    font-size: 24px;
    color: #f9faf8;
    margin: 0;
    padding: 0 50px;
}

.body {
    margin: 0;
}


button {
    background: #3882f6;
    border: none;
    border-radius: 16px;
    padding: 8px 25px;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
}

.info {
    font-size: 36px;
    font-weight: bolder;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.right-links {
    font-size: 10px;
    display: flex;
    gap: 10px;
    justify-content: end;
    align-items: start;
}

.content {
  
}
.pic1-container {
    flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
img {
    max-width: 100%;
    height: auto;
  }
  