* {
    font-family: Arial, Helvetica, sans-serif;
}

.hero,
.footer, 
.header {
    background-color: #1f2937;
    margin: 0;
    padding: 10px;
}

.hero {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
    display: flex;
}

.hero-secondary {
    font-size: 18px;
    color: #e5e7eb;
    font-weight: lighter;
    flex: 1;
    margin-top: 10px;

}

.header {
    font-size: 24px;
    color: #f9faf8;
    margin: 0;
    padding: 0 50px;
}

.body {
    margin: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
}


button {
    background: #3882f6;
    border: none;
    border-radius: 16px;
    padding: 8px 25px;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
}

.info {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1f2937;
    background-color: #e5e7eb;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.right-links {
    font-size: 10px;
    display: flex;
    gap: 10px;
    justify-content: end;
    align-items: start;
}

.content {
  
}
.pic1-container {
    flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
img {
    max-width: 50%;
    max-height: 50%;
  }
  
  .main {
    background-color: white;
    min-height: 100vh; /* Set a minimum height to fill the viewport */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.card {
    border: none;
    box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.06);
    margin: 16px;
    font-size: 12px;
    font-weight: 100;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
}


.quote {
    background-color: #e5e7eb;
    padding: 10px 50px;
}

body {
    margin: 0;
}


.card-container{
    display: flex;
    justify-content: center;
    align-items: center;

}